version: '3.9'

services:

  # Application Service
  cargo:
    container_name: cargo
    restart: unless-stopped
    build:
      context: ./docker/php-node.dockerfile
      dockerfile: Dockerfile
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./env:/var/www/.env
    ports:
      - ${APP_PORT:-9000}:9000
    env_file:
      - .env

  # Web Server Service
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - ${NG_PORT:-8080}:80
    volumes:
      - ./src/public:/var/www/public
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
      - ./docker/nginx/logs/:/var/log/nginx/
    depends_on:
      - cargo
      - db

  # Database Service
  db:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - ${PG_PORT:-5433}:5433
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  # Redis Cache Service
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - ${REDIS:-6379}:6379

  # Pgadmin Cache Service
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgAdmin
    restart: unless-stopped
    ports:
      - ${APP_PORT:-5050}:80
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}