@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #a7f3d0;
    }

    &::-webkit-scrollbar-thumb {
        background: #166534;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #16a34a;
    }
}
